*{
    padding: 0;
    margin: 0;
    color: silver;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to left, hsl(0, 0%, 26%,.5) 0%, hsl(0, 0%, 0%,.9) 100%), url(1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.menu{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    width: 100vw;
    height: 100%;
    padding-left: 2em;
    padding-top: 1em;
}
.menu .logo{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.menu .logo h4{
    font-size: 1.6em;
    font-family: 'Playball', cursive;
}
.menu .nav{
    flex: 8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row;
    width: 100%;
    height: 100%;
}
.menu .rigth{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.7em;

}

.nav span{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    margin: 0 1em;
}
.nav span i{
    margin: 0 .5em;
}
.nav span p {
    font-size: .8em;
}


/*mid text..*/
.banner{
    flex: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100vw;
    height: 100%;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 50%;
    height: 50%;
}
.text h6{
text-transform: uppercase;
color: hsl(0, 0%, 75%,.5);


}
.text h3{
margin: .2em;
font-size: 2em;
letter-spacing: .1em;
font-variant: small-caps;
}
.text p{
   text-align: center;
   font-size: .7em;
   font-style: italic;

}
.text button{
    text-align: center;
    width: 7em;
    height: 1.7em;
    background: none;
    outline: none;
    margin-top: 1.5em;
    border: 1px solid silver;

 }
